@import url("fonts.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: 0 !important; 
}
:root {
    --NSl:  "NotoSansJP-Light";
    --NSr: "NotoSansJP-Regular";
    --NSm:  "NotoSansJP-Medium";
    --NSSemiBo: "NotoSansJP-Semibold";
    --primary-color: #313131;
    --secondary-color: #FFFFFF;
    --third-color: #E3E3E3;
}
::-webkit-scrollbar {
    border-radius: 50px;
    background-color: var(--third-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}
html {
    scroll-behavior: smooth;
}
/* HEADER START */
.header__prenav {
    background-color: var(--primary-color);
}
.prenav_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
}
.prenav__link {
    display: flex;
    letter-spacing: 0.07em;
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 19px;
    font-family: var(--NSr);
    padding: 15px 0;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle {
    box-shadow: none !important;
    border: none;
    outline: none;
}
.prenav__arrow_itself::before {
    content: "\f077";
    font-weight: 300;
    font-size: 16px;
    color: var(--secondary-color);
    transition: 1s;
}
.dropdown-toggle.show .prenav__arrow_itself {
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}
.prenav__arrow_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 8px;
}
.dropdown {
    margin-right: 80px;
}
.prenav__link:hover {
    color: var(--secondary-color);
}
.prenav__tel::before {
    content: "\f879";
    margin-right: 8px;
}
.prenav__contact::before {
    content: "\f2b9";
    margin-right: 8px;
}
.prenav__cart::before {
    content: "\f07a";
    margin-right: 8px;
}
.prenav__item:nth-of-type(2) .prenav__link {
    margin: 0 42px 0 32px;
}
.dropdown-menu {
    background-color: white;
}
.prenav__dropdown_link {
    color: brown;
}
.navbar-brand {
    margin-right: 143px;
}
.header__logo::before {
    content: url("../images/header__logo.png");
}
.header__navbar_search {
    width: 440px;
    font-size: 14px;
    line-height: 19px;
    padding: 15px;
    border: 1px solid var(--primary-color);
}
.navbar__button_description {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
}
.navbar__button_info {
    font-size: 14px;
    line-height: 19px;
    font-family: var(--NSr);
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    order: 1;
}
.navbar__button_icon::before {
    content: "\f002";
    margin-right: 9px;
    color: var(--secondary-color);
}
button {
    box-shadow: none !important;
    border: none;
    outline: none ;
}
input {
    border: none;
    outline: none;
    box-shadow: none !important;
}
.navbar-toggler-icon {
    display: none;
}
.header__nav_toggler::before {
    content: "\f0c9";
    font-weight: 500;
    font-size: 30px;
}
.header__nav_toggler:focus {
    box-shadow: none;
}
.header__nav_link {
    letter-spacing: 0.05em;
    color: var(--primary-color);
    font-size: 18px;
    font-family: var(--NSr);
    line-height: 21px;
    padding: 0 15px;
}
.header__nav_link:hover {
    color: var(--primary-color);
}
.header__content_title {
    display: flex;
    font-size: 48px;
    line-height: 70px;
    font-family: var(--NSSemiBo);
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 120px;
}
.header__content_link {
    font-size: 18px;
    line-height: 25px;
    font-family: var(--NSr);
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    padding: 12px 46px;
    background-color: var(--primary-color);
}
.header__content_link:hover {
    color: var(--secondary-color);
}
.header__content .carousel-indicators {
    bottom: -50px;
}
.header__content .carousel-indicators [data-bs-target] {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #828282;
}
.header__content .carousel-indicators [data-bs-target].active {
    background-color: var(--primary-color);
}
.navbar-nav .header__nav_link.active:focus + .header__tooltip {
    visibility: visible;
}
.header__tooltip {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: flex-start;
    top: 30px;
    left: -40px;
    width: 300px;
    height: auto;
    z-index: 5;
    background-color: #E5E5E5;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    padding: 18px 40px 18px 20px;
    transition: 0.5s;
}
.header__tooltip::before {
    content: "";
    width: 260px;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    left: 20px;
    top: 0;
}
.header__tooltip_list {
    padding: 0 ;
}
.tooltip__title {
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-decoration: underline solid black !important;
    font-family: var(--NSr);
    color: var(--primary-color);
}
.tooltip__title:hover {
    color: var(--primary-color);
}
.tooltip__link {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: var(--primary-color);
    font-family: var(--NSl);
    margin-bottom: 5px;
}
.tooltip__link:hover {
    color: var(--primary-color); 
}
/* HEADER END */
/* MAIN START */
.main .carousel-indicators {
    bottom: -110px;
}
.main .carousel-indicators button[aria-label="Slide 1"] {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-image: url("../images/1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.main .carousel-indicators button[aria-label="Slide 2"] {
    margin-right: 10px;
    background-image: url("../images/2.png");
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}
.main .carousel-indicators button[ aria-label="Slide 3"] {
    background-image: url("../images/next.png");
    width: 60px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}
.main__content {
    margin-top: 86px;
}
.content__img1, .content__img2 {
    max-width: 630px;
}
.content__img3 {
    max-width: 300px;
    margin-left: -12px;
    margin-top: 25px;
}
.content__img4 {
    max-width: 300px;
    margin-top: 18px;
}
.main__content_link {
    text-align: center;
    margin-top: 30px;
}
.main__cellphones, .main__laptops, .main__playstation, .main__topseller {
    margin-top: 70px;
}
.main__title {
    font-size: 36px;
    line-height: 49px;
    font-family: var(--NSSemiBo);
    color: var(--primary-color);
    margin-bottom: 30px;
}
.card-title {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    font-family: var(--NSm);
    color: var(--primary-color);
    margin-bottom: 5px;
}
.card-text {
    font-size: 14px;
    line-height: 19px;
    color: var(--primary-color);
    text-align: center;
    font-family: var(--NSl);
}
.card {
    border: none;
}
.card-body {
    bottom: 28px;
}
.playstation__about {
    position: absolute;
    left: 20px;
    top: 94px;
}
.playstation__about_img::before {
    content: url("../images/ps5.png");
}
.playstation__about_title {
    font-size: 48px;
    line-height: 65px;
    color: var(--primary-color);
    font-family: var(--NSSemiBo);
    margin: 20px 0 70px 0;
}
.main__playstation .main__content_link {
    text-align: start;
}
.main__xbox {
    margin-top: 80px;
}
.main__xbox_background {
    height: 190px;
    margin-top: auto;
    background-color: var(--third-color);
}
.main__xbox_content {
    position: absolute;
    left: 20px;
    top: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}
.main__xbox .main__content_link {
    text-align: start;
    position: absolute;
    bottom: 20px;
}
.main__xbox_title {
    display: inline-block;
    font-size: 48px;
    line-height: 65px;
    color: var(--primary-color);
    font-family: var(--NSSemiBo);
    margin-bottom: 10px;
}
.main__xbox_description {
    display: inline-block;
    width: 454px;
    font-size: 24px;
    line-height: 33px;
    font-family: var(--NSr);
    color: var(--primary-color);
}
/* MAIN END */
/* FOOTER START */
.footer__content {
    margin-top: 115px;
    padding: 30px 0;
    background-color: var(--primary-color);
}
.footer__logo::before {
    content: url("../images/header__logo_dark.png");
}
.footer__center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__subscribe {
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
    font-family: var(--NSr);
    margin-bottom: 5px;
}
.footer__subscribe:hover {
    color: var(--secondary-color);
}
.footer__search {
    width: 520px;
    height: 50px;
    border: 1px solid var(--secondary-color);
}
.footer__button_info {
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
    font-family: var(--NSr);
}
.footer__button_description {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    width: 190px;
    height: 50px;
}
.footer__socialmedias_link:nth-of-type(2) {
    margin: 0 25px;
}
.footer__list {
    display: flex;
    margin-top: 50px;
    margin-left: -57px;
}
.footer__list_item:nth-of-type(2) {
    margin: 0 30px;
}
.footer__list_link {
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
    font-family: var(--NSr);
}
.footer__list_link:hover {
    color: var(--secondary-color);
}
/* FOOTER END */
/* MAIN START PAGE#2 */
.mainPage2__pills {
    margin-top: 100px;
}
.mainPage2__pills_item {
    padding: 10px;
    width: fit-content;
    border: 1px solid rgba(113, 119, 241, 0.15);
}
.mainPage2__pills_item:nth-of-type(2) {
    margin: 30px 0;
}
.mainPage2__pills_img {
    min-height: 100px;
    height: 100%;
}
.mainPage2__content_img {
    max-height: 410px;
    height: 100%;
    width: 100%;
}
.tab-content .mainPage2__content_characteristics {
    padding-left: 0;
}
.mainPage2__content_characteristics li::before {
    content: "";
    margin-right: 15px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--primary-color);
}
.mainPage2__content_characteristic {
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: black;
    font-family: var(--NSr);
    margin-bottom: 0;
}
ul {
    margin-bottom: 0;
}
.mainPage2__content_characteristics {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}
.mainPage2__content_name {
    font-size: 30px;
    line-height: 70px;
    font-family: var(--NSSemiBo);
    letter-spacing: 0.05em;
    color: black;
    margin-bottom: 40px;
}
.mainPage2__content_cost, .mainPage2__content_title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: black;
    font-family: var(--NSm);
    margin-bottom: 20px;
}
.mainPage2__content_links {
    display: flex;
}
.mainPage2__content_links .main__content_link:nth-of-type(1) {
    margin-right: 30px;
}
.mainPage2__playstationVr {
    margin-top: 40px;
}
.mainPage2__playstationVr_content {
    position: relative;
}
.mainPage2__playstationVr_about {
    position: absolute;
    top: 20px;
    right: 31px;
}
.playstationVr__about_title {
    font-size: 48px;
    line-height: 65px;
    font-family: var(--NSSemiBo);
    color: var(--primary-color);
    margin-bottom: 40px;
}
.playstationVr__about_description {
    font-size: 24px;
    line-height: 33px;
    font-family: var(--NSr);
    color: var(--primary-color);
    width: 454px;
}
.mainPage2__playstationVr_content .main__content_link {
    margin-top: 0;
    position: absolute;
    bottom: -145px;
    right: 163px;
}
.footer__page2 {
    margin-top: 0;
}
/* MAIN END PAGE#2 */
